.heading-main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: url(../../assets/images/back-index.png) top center no-repeat;
  background-size: cover;
  padding-bottom: 2.5rem;
  .heading-logo{
    position: fixed;
    top: 0;
    left: 50%;
    img{
      max-width: 10rem;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
    }
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  .heading-wrapper {
    background: transparent;
    ul{
      display: flex;
      li:not(:last-child){
        margin-right: 3rem;
      }
      li{
        a{
          font-size: 1.6rem;
          font-weight: bold;
          transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
        }
      }
    }
    .nav-left{
      display: flex;
      justify-content: center;
      ul{
        li{
          a{
            span{
              display: inline-block;
              position: relative;
              &::after{
                position: absolute;
                bottom: -2px;
                left: 0;
                content: '';
                width: 0;
                height: 3px;
                background: $c-default;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
              }
            }
            &:hover{
              color: $c-default;
               span::after{
                width: 100%;
              }
            }
          }
          
        }
      }
    }
    .nav-right{
      display: flex;
      justify-content: center;
      ul{
        li{
          a{
            span{
              display: inline-block;
              position: relative;
              &::after{
                position: absolute;
                bottom: -2px;
                left: 0;
                content: '';
                width: 0;
                height: 3px;
                background: $c-default;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
              }
            }
            &:hover{
              color: $c-default;
               span::after{
                width: 100%;
              }
            }
          }
          
        }
      }
    }
  }
}

.sticky {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  .heading-logo{
    img{
     padding: 1rem;
      max-width: 10rem;
    }
  }
}