.c-primary {
  color: #171717; }

.c-default {
  color: #1e3853; }

.c-active {
  color: #C4A053; }

.c-white {
  color: #fff; }

.c-blue {
  color: #2a3042; }

.c-black {
  color: #333333; }

.c-orange {
  color: #f1b44c; }

.c-font {
  color: #989898; }

.c-green {
  color: #34c38f; }

.c-green-down {
  color: #4E7A6C; }

.c-green-up {
  color: #00473C; }

.c-pink {
  color: #f91e1e; }

.c-grey {
  color: #eff3f7; }

.c-red {
  color: red; }

.bg-red {
  background: red; }

.bg-black {
  background-color: #333333; }

.bg-orange {
  background-color: #f1b44c; }

.bg-font {
  background-color: #989898; }

.bg-green {
  background-color: #34c38f; }

.bg-green-down {
  background-color: #4E7A6C; }

.bg-green-up {
  background-color: #00473C; }

.bg-pink {
  background-color: #f91e1e; }

.bg-grey {
  background-color: #eff3f7; }

.bg-grey-up {
  background-color: #F8F8F8; }

.bg-blue {
  background-color: #2a3042; }

.fs-10 {
  font-size: 10px; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-24 {
  font-size: 24px; }

.fs-26 {
  font-size: 26px; }

.fs-28 {
  font-size: 28px; }

.fs-30 {
  font-size: 30px; }

.fs-32 {
  font-size: 32px; }

.fs-34 {
  font-size: 34px; }

.fs-36 {
  font-size: 36px; }

.fs-40 {
  font-size: 40px; }

.fs-44 {
  font-size: 44px; }

.fs-48 {
  font-size: 48px; }

.fs-54 {
  font-size: 54px; }

.fs-60 {
  font-size: 60px; }

.fs-75 {
  font-size: 75px; }

@media only screen and (max-width: 1023px) {
  .fs-16 {
    font-size: 14px; }
  .fs-18 {
    font-size: 16px; }
  .fs-24 {
    font-size: 18px; }
  .fs-26 {
    font-size: 20px; }
  .fs-28 {
    font-size: 24px; }
  .fs-32 {
    font-size: 24px; }
  .fs-30 {
    font-size: 24px; }
  .fs-34 {
    font-size: 24px; }
  .fs-36 {
    font-size: 24px; }
  .fs-40 {
    font-size: 24px; }
  .fs-44 {
    font-size: 24px; }
  .fs-48 {
    font-size: 24px; }
  .fs-54 {
    font-size: 24px; }
  .fs-60 {
    font-size: 24px; }
  .fs-75 {
    font-size: 24px; } }

@media only screen and (max-width: 767px) {
  .fs-16 {
    font-size: 14px; }
  .fs-18 {
    font-size: 16px; }
  .fs-24 {
    font-size: 18px; }
  .fs-26 {
    font-size: 20px; }
  .fs-28 {
    font-size: 24px; }
  .fs-32 {
    font-size: 24px; }
  .fs-30 {
    font-size: 18px; }
  .fs-34 {
    font-size: 24px; }
  .fs-36 {
    font-size: 24px; }
  .fs-40 {
    font-size: 24px; }
  .fs-44 {
    font-size: 24px; }
  .fs-48 {
    font-size: 24px; }
  .fs-54 {
    font-size: 24px; }
  .fs-60 {
    font-size: 24px; }
  .fs-75 {
    font-size: 24px; } }

.fm-heading-1 {
  font-size: 6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }
  @media only screen and (max-width: 1366px) {
    .fm-heading-1 {
      font-size: 5.6rem; } }
  @media only screen and (max-width: 767px) {
    .fm-heading-1 {
      font-size: 3.4rem; } }

.fm-heading-2 {
  font-size: 3.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 4.4rem;
  font-weight: normal; }
  @media only screen and (max-width: 767px) {
    .fm-heading-2 {
      font-size: 2.8rem;
      line-height: 3.2rem; } }

.fm-heading-3 {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2.8rem;
  font-weight: normal; }

.fm-heading-4 {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2.8rem;
  font-weight: normal; }

.fm-heading-5 {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 2.8rem;
  font-weight: normal; }

a {
  color: #333333; }
  a:hover {
    text-decoration: none;
    color: #f1b44c; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.wrapper-body {
  overflow: hidden; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: #171717;
  font-weight: 300;
  position: relative; }
  @media only screen and (max-width: 767px) {
    body {
      font-size: 1.2rem; } }

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }
  ul li a {
    text-decoration: none; }

.mt-20px {
  margin-top: 20px; }

.mb-20px {
  margin-bottom: 20px; }

.pt-20px {
  padding-top: 20px; }

.pb-20px {
  padding-bottom: 20px; }

.mt-25px {
  margin-top: 25px; }

.mb-25px {
  margin-bottom: 25px; }

.mb-30px {
  margin-bottom: 30px; }

.mt-30px {
  margin-top: 30px; }

.pr-30px {
  padding-right: 30px; }

.pl-30px {
  padding-left: 30px; }

.pr-35px {
  padding-right: 35px; }

.pl-35px {
  padding-left: 35px; }

.pt-30px {
  padding-top: 30px; }

.pb-30px {
  padding-bottom: 30px; }

.mt-60px {
  margin-top: 60px; }

.mb-60px {
  margin-bottom: 60px; }

.pt-40px {
  padding-top: 40px; }

.pb-40px {
  padding-bottom: 40px; }

.pl-40px {
  padding-left: 40px; }

.pr-40px {
  padding-right: 40px; }

.mt-40px {
  margin-top: 40px; }

.mr-40px {
  margin-right: 40px; }

.ml-40px {
  margin-left: 40px; }

.mb-40px {
  margin-bottom: 40px; }

.mt-50px {
  margin-top: 50px; }

.mb-50px {
  margin-bottom: 50px; }

.ml-50px {
  margin-left: 50px; }

.mr-50px {
  margin-right: 50px; }

.pt-45px {
  padding-top: 45px; }

.pb-45px {
  padding-bottom: 45px; }

.pt-50px {
  padding-top: 50px; }

.pb-50px {
  padding-bottom: 50px; }

.pl-50px {
  padding-left: 50px; }

.pr-50px {
  padding-right: 50px; }

.pl-45px {
  padding-left: 45px; }

.pt-60px {
  padding-top: 60px; }

.pb-60px {
  padding-bottom: 60px; }

.ml-60px {
  margin-left: 60px; }

.mr-60px {
  margin-right: 60px; }

.pt-70px {
  padding-top: 70px; }

.pb-70px {
  padding-bottom: 70px; }

.pl-70px {
  padding-left: 70px; }

.pr-70px {
  padding-right: 70px; }

.pl-75px {
  padding-left: 75px; }

.pt-80px {
  padding-top: 80px; }

.pb-80px {
  padding-bottom: 80px; }

.pl-80px {
  padding-left: 80px; }

.pr-80px {
  padding-right: 80px; }

.mt-80px {
  margin-top: 80px; }

.mb-80px {
  margin-bottom: 80px; }

.pl-90px {
  padding-left: 90px; }

.pr-90px {
  padding-right: 90px; }

.pl-100px {
  padding-left: 100px; }

.pr-100px {
  padding-right: 100px; }

.ml-100px {
  margin-left: 100px; }

.mr-100px {
  margin-right: 100px; }

.mt-120px {
  margin-top: 120px; }

.pr-120px {
  padding-right: 120px; }

@media only screen and (max-width: 1366px) {
  .pb-60px {
    padding-bottom: 20px; }
  .pt-70px {
    padding-top: 30px; }
  .pb-70px {
    padding-bottom: 30px; }
  .pt-80px {
    padding-top: 40px; }
  .pb-80px {
    padding-bottom: 40px; }
  .mt-80px {
    margin-top: 40px; }
  .mb-80px {
    margin-bottom: 40px; }
  .pl-100px {
    padding-left: 0; }
  .pr-120px {
    padding-right: 0; } }

@media only screen and (max-width: 1023px) {
  .mt-60px {
    margin-top: 30px; }
  .mb-60px {
    margin-bottom: 30px; }
  .pt-40px {
    padding-top: 20px; }
  .pb-40px {
    padding-bottom: 20px; }
  .pl-40px {
    padding-left: 0; }
  .pr-40px {
    padding-right: 0; }
  .mt-40px {
    margin-top: 20px; }
  .mr-40px {
    margin-right: 0; }
  .ml-40px {
    margin-left: 0; }
  .mb-40px {
    margin-bottom: 20px; }
  .mt-50px {
    margin-top: 30px; }
  .mb-50px {
    margin-bottom: 30px; }
  .ml-50px {
    margin-left: 0; }
  .mr-50px {
    margin-right: 0; }
  .pt-45px {
    padding-top: 25px; }
  .pb-45px {
    padding-bottom: 25px; }
  .pt-50px {
    padding-top: 30px; }
  .pb-50px {
    padding-bottom: 30px; }
  .pl-50px {
    padding-left: 0; }
  .pr-50px {
    padding-right: 0; }
  .pl-45px {
    padding-left: 0; }
  .pt-60px {
    padding-top: 30px; }
  .pb-60px {
    padding-bottom: 30px; }
  .ml-60px {
    margin-left: 0; }
  .mr-60px {
    margin-right: 0; }
  .pt-70px {
    padding-top: 35px; }
  .pb-70px {
    padding-bottom: 35px; }
  .pl-70px {
    padding-left: 0; }
  .pr-70px {
    padding-right: 0; }
  .pl-75px {
    padding-left: 0; }
  .pt-80px {
    padding-top: 40px; }
  .pb-80px {
    padding-bottom: 0; }
  .pl-80px {
    padding-left: 0; }
  .pr-80px {
    padding-right: 0; }
  .mt-80px {
    margin-top: 40px; }
  .mb-80px {
    margin-bottom: 40px; }
  .pl-90px {
    padding-left: 0; }
  .pr-90px {
    padding-right: 0; }
  .pl-100px {
    padding-left: 0; }
  .pr-100px {
    padding-right: 0; }
  .ml-100px {
    margin-left: 0; }
  .mr-100px {
    margin-right: 0; }
  .mt-120px {
    margin-top: 40px; }
  .pr-120px {
    padding-right: 0; } }

@media only screen and (max-width: 767px) {
  .mt-25px {
    margin-top: 15px; }
  .mb-25px {
    margin-bottom: 15px; }
  .mb-30px {
    margin-bottom: 15px; }
  .mt-30px {
    margin-top: 15px; }
  .pr-30px {
    padding-right: 15px; }
  .pl-30px {
    padding-left: 15px; }
  .pr-35px {
    padding-right: 15px; }
  .pl-35px {
    padding-left: 15px; }
  .mt-60px {
    margin-top: 30px; }
  .mb-60px {
    margin-bottom: 30px; }
  .pt-40px {
    padding-top: 20px; }
  .pb-40px {
    padding-bottom: 20px; }
  .pr-40px {
    padding-right: 20px; }
  .pl-40px {
    padding-left: 20px; }
  .mt-40px {
    margin-top: 20px; }
  .mb-40px {
    margin-bottom: 20px; }
  .mr-40px {
    margin-right: 20px; }
  .ml-40px {
    margin-left: 20px; }
  .pt-45px {
    padding-top: 20px; }
  .pb-45px {
    padding-bottom: 20px; }
  .ml-50px {
    margin-left: 0; }
  .mr-50px {
    margin-right: 0; }
  .mt-50px {
    margin-top: 20px; }
  .mb-50px {
    margin-bottom: 20px; }
  .pt-50px {
    padding-top: 25px; }
  .pb-50px {
    padding-bottom: 25px; }
  .pl-50px {
    padding-left: 0; }
  .pr-50px {
    padding-right: 0; }
  .pt-60px {
    padding-top: 30px; }
  .pb-60px {
    padding-bottom: 30px; }
  .ml-60px {
    margin-left: 20px; }
  .mr-60px {
    margin-right: 20px; }
  .pl-45px {
    padding-left: 0; }
  .pt-70px {
    padding-top: 35px; }
  .pb-70px {
    padding-bottom: 35px; }
  .pl-70px {
    padding-left: 35px; }
  .pr-70px {
    padding-right: 35px; }
  .pl-75px {
    padding-left: 0; }
  .pt-40px {
    padding-top: 20px; }
  .pb-40px {
    padding-bottom: 20px; }
  .pl-40px {
    padding-left: 20px; }
  .pr-40px {
    padding-right: 20px; }
  .pt-80px {
    padding-top: 40px; }
  .mt-80px {
    margin-top: 40px; }
  .mb-80px {
    margin-bottom: 40px; }
  .pl-80px {
    padding-left: 40px; }
  .pr-80px {
    padding-right: 40px; }
  .pt-80px {
    padding-top: 40px; }
  .pb-80px {
    padding-bottom: 40px; }
  .pl-90px {
    padding-left: 40px; }
  .pr-90px {
    padding-right: 20px; }
  .pl-100px {
    padding-left: 20px; }
  .ml-100px {
    margin-left: 20px; }
  .mr-100px {
    margin-right: 20px; }
  .mt-120px {
    margin-top: 60px; }
  .pr-120px {
    padding-right: 0; } }

.slick-slide:focus {
  outline: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.dots-custom {
  margin-top: 3rem; }
  .dots-custom .slick-dots {
    position: static;
    top: 0;
    display: flex;
    justify-content: center; }
  .dots-custom .slick-dots li {
    margin: 0 1rem; }
  .dots-custom .slick-dots li button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 5px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    text-align: center;
    opacity: 0.1;
    background: #000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
  .dots-custom .slick-dots li button:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 5px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    content: '';
    text-align: center;
    opacity: 0;
    background: #000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
  .dots-custom .slick-dots li.slick-active button:before {
    opacity: 0; }
  .dots-custom .slick-dots li.slick-active button:after {
    content: '';
    background: #f1b44c;
    width: 3rem;
    height: 5px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    opacity: 1;
    border: none;
    margin-bottom: 2px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }

@media only screen and (max-width: 767px) {
  .dots-custom {
    margin-top: 2rem; }
  .slick-dots li {
    width: 15px; }
  .slick-dots li button:after {
    width: 15px; }
  .slick-dots li button::before {
    width: 15px; }
  .slick-dots li.slick-active button:after {
    width: 15px; }
  .dots-custom .slick-dots li button:after {
    height: 3px; }
  .dots-custom .slick-dots li button:before {
    height: 3px; }
  .dots-custom .slick-dots li.slick-active button:after {
    height: 3px; } }

.nav-tabs .nav-link.active {
  border: none;
  border-radius: 0;
  font-weight: bold;
  color: #ed1c24; }

.nav-tabs .nav-link.active::after {
  width: 100%; }

.form-control {
  overflow: hidden; }
  .form-control::placeholder {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s ease; }
  .form-control:focus {
    outline: 0;
    box-shadow: none; }
  .form-control:focus::placeholder {
    transform: translateX(10%);
    opacity: 0 !important; }

.btn-customer {
  display: inline-flex;
  align-items: center;
  min-height: 3.6rem;
  padding: 0; }
  @media only screen and (max-width: 1023px) {
    .btn-customer {
      display: none; } }
  .btn-customer a {
    display: inline-flex;
    padding: 9px 2.5rem;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    text-decoration: none;
    position: relative; }
    .btn-customer a span {
      font-size: 12px;
      z-index: 2;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease; }
    .btn-customer a:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      background: #f1b44c;
      height: 100%;
      width: 0;
      border-radius: 1px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      -o-border-radius: 1px;
      z-index: 1;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
    .btn-customer a:hover:after {
      width: 100%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
    .btn-customer a:hover span {
      color: #fff; }

.btn-exp {
  display: inline-flex;
  align-items: center;
  min-height: 4rem; }
  .btn-exp a {
    background: #fff;
    padding: 1rem 2.5rem;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
    .btn-exp a span {
      transition: all 0.1s ease;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease; }
    .btn-exp a:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
      background: #f1b44c;
      color: #fff; }

.btn-scroll {
  display: inline-flex;
  align-items: center;
  min-height: 3rem; }
  .btn-scroll a {
    padding: 10px 3rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-decoration: none;
    border: 1px solid #1e3853;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
    .btn-scroll a:hover {
      background: #f1b44c;
      border-color: #f1b44c; }
      .btn-scroll a:hover span {
        color: #fff;
        letter-spacing: 0.2rem; }
    .btn-scroll a span {
      color: #1e3853;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
  @media only screen and (max-width: 767px) {
    .btn-scroll {
      min-height: 2rem; }
      .btn-scroll a {
        padding: 5px 2rem; } }

.see-more {
  display: inline-flex;
  align-items: center; }
  .see-more a {
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    position: relative; }
    .see-more a:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 1rem);
      transform: translate(-50%, -50%);
      height: 0;
      background: #34c38f;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      z-index: 1;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
    .see-more a span {
      position: relative;
      transition: all 0.1s ease;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      color: #34c38f;
      z-index: 10; }
    .see-more a:hover:after {
      color: #fff;
      height: calc(100% + 1rem); }
    .see-more a:hover span {
      color: #fff;
      letter-spacing: 0.2rem; }

.btn-modal {
  background: #fff;
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }
  .btn-modal:hover {
    background: #f1b44c;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 12px;
    color: #fff; }

.pagination {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pagination li:first-child a {
    margin-right: 5px; }
    .pagination li:first-child a i {
      font-size: 24px; }
    .pagination li:first-child a::after {
      display: none; }
  .pagination li:last-child a {
    margin-left: 5px; }
    .pagination li:last-child a i {
      font-size: 24px; }
    .pagination li:last-child a::after {
      display: none; }
  .pagination li {
    display: flex;
    align-items: center; }
    .pagination li a {
      position: relative;
      font-size: 16px;
      color: #989898;
      font-weight: bold;
      margin-bottom: 0;
      background: transparent;
      border: none; }
      .pagination li a:hover {
        color: #f1b44c;
        background: none; }
  .pagination .active a, .pagination .active .page-link {
    padding: 0 8px;
    border-radius: 50%;
    color: #fff !important;
    background: #f1b44c; }

.divide {
  height: 1px;
  width: 100%;
  background-color: rgba(102, 102, 102, 0.4); }

@keyframes rotation {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotation2 {
  0% {
    transform: translate(-100%, -100%) rotate(0); }
  100% {
    transform: translate(-100%, -100%) rotate(360deg); } }

@keyframes moveInLeft {
  0% {
    transform: translate(-50%, 0);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translate(50%, 0);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes moveInTop {
  0% {
    transform: translate(0, -50%);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translate(0, 100%);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.dropdown:hover {
  background: transparent; }

.show > .btn-outline-secondary.dropdown-toggle {
  color: #989898; }

.dropdown-toggle {
  position: relative;
  border: none;
  padding: 1rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  background: transparent;
  color: #989898;
  font-weight: 300;
  font-size: 14px; }
  .dropdown-toggle:hover {
    color: #989898; }
  .dropdown-toggle:active {
    color: #989898 !important; }
  .dropdown-toggle:focus {
    box-shadow: none; }
    .dropdown-toggle:focus a {
      color: #989898; }
  .dropdown-toggle::after {
    content: '\f107';
    font-family: "FontAwesome";
    vertical-align: 0;
    border: none;
    right: 10%;
    top: 55%;
    color: #333333; }

.dropdown-menu {
  width: auto;
  border: 1px solid rgba(131, 131, 131, 0.2);
  border-radius: 2px;
  padding: 7px 0 5px;
  font-size: 1.4rem; }
  .dropdown-menu a {
    padding: 0.8rem 1rem;
    font-weight: 300; }
    .dropdown-menu a:hover {
      background: #f3f4f7; }

.site-banner {
  min-height: 25vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative; }
  .site-banner-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(150deg, #1e3853, #1e3853);
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%); }
    @media only screen and (max-width: 1023px) {
      .site-banner-cover {
        clip-path: none; } }
    @media only screen and (max-width: 767px) {
      .site-banner-cover {
        clip-path: none; } }
  .site-banner__wrapper {
    margin-top: 10rem;
    padding: 5rem 0; }
    @media only screen and (max-width: 1023px) {
      .site-banner__wrapper {
        margin-top: 5rem; } }
    @media only screen and (max-width: 767px) {
      .site-banner__wrapper {
        margin-top: 8rem; } }
  .site-banner .banner-content {
    padding: 2rem 0; }
    .site-banner .banner-content .item-slide__wrapper {
      color: #fff;
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease; }
      @media only screen and (max-width: 1023px) {
        .site-banner .banner-content .item-slide__wrapper {
          text-align: center; } }
      @media only screen and (max-width: 767px) {
        .site-banner .banner-content .item-slide__wrapper {
          text-align: center; } }
      .site-banner .banner-content .item-slide__wrapper .fm-heading-1 {
        font-weight: 600;
        line-height: 1.2; }
        .site-banner .banner-content .item-slide__wrapper .fm-heading-1 span {
          font-size: 4rem;
          font-weight: 300; }
          @media only screen and (max-width: 1366px) {
            .site-banner .banner-content .item-slide__wrapper .fm-heading-1 span {
              font-size: 3rem; } }
      .site-banner .banner-content .item-slide__wrapper .description p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
        @media only screen and (max-width: 767px) {
          .site-banner .banner-content .item-slide__wrapper .description p {
            font-size: 1.4rem; } }
      @media only screen and (max-width: 767px) {
        .site-banner .banner-content .item-slide__wrapper .fm-heading-1 span {
          font-size: 1.8rem; } }
  .site-banner .banner-img {
    padding: 2rem; }
    @media only screen and (max-width: 767px) {
      .site-banner .banner-img {
        padding: 0 1.6rem; } }
    .site-banner .banner-img figure img {
      margin-left: 10px; }
      @media only screen and (max-width: 1023px) {
        .site-banner .banner-img figure img {
          padding: 0 1.4rem; } }
    .site-banner .banner-img__slide {
      position: relative; }
      .site-banner .banner-img__slide .play-cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%); }
        .site-banner .banner-img__slide .play-cover a {
          margin-bottom: 15px;
          text-decoration: none;
          background: #1e3853;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease; }
          @media only screen and (max-width: 767px) {
            .site-banner .banner-img__slide .play-cover a {
              width: 50px;
              height: 50px; }
              .site-banner .banner-img__slide .play-cover a i {
                font-size: 20px; } }
          .site-banner .banner-img__slide .play-cover a i {
            margin-left: 5px;
            font-size: 28px;
            color: #fff;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease; }
          .site-banner .banner-img__slide .play-cover a:hover {
            background: #f1b44c; }
            .site-banner .banner-img__slide .play-cover a:hover i {
              color: #000; }

.site-banner-bottom {
  position: relative; }
  .site-banner-bottom .item-bottom {
    text-align: center;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    border: 1px solid rgba(30, 56, 83, 0.1);
    padding: 1.6rem 1.6rem 4rem;
    box-shadow: rgba(30, 56, 83, 0.19) 0px 10px 20px, rgba(30, 56, 83, 0.23) 0px 6px 6px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease; }
    @media only screen and (max-width: 1366px) {
      .site-banner-bottom .item-bottom {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 1023px) {
      .site-banner-bottom .item-bottom {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 767px) {
      .site-banner-bottom .item-bottom {
        box-shadow: none;
        padding: 1.2rem 1.2rem 2rem; }
        .site-banner-bottom .item-bottom:hover {
          box-shadow: inherit; } }
    .site-banner-bottom .item-bottom:hover {
      box-shadow: 1rem 1rem rgba(30, 56, 83, 0.5); }
    .site-banner-bottom .item-bottom figure {
      padding: 1.5rem; }
    .site-banner-bottom .item-bottom .content p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 8.4rem; }

.line {
  width: 15%;
  height: 3px;
  border-radius: 1rem;
  background: #1e3853;
  margin: 0 auto;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem; }
  @media only screen and (max-width: 767px) {
    .line {
      width: 40%; } }

.site-partner .partner-slide__item figure {
  display: flex;
  justify-content: center; }
  .site-partner .partner-slide__item figure a {
    display: inline-flex;
    max-width: 18rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    .site-partner .partner-slide__item figure a:hover {
      filter: grayscale(0);
      opacity: 1; }

.site-case {
  background: #1e3853;
  color: #fff; }
  .site-case .btn-prev {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 4.8rem;
    cursor: pointer;
    border: 1px solid #1e3853;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; }
    .site-case .btn-prev i {
      margin-right: 4px; }
    .site-case .btn-prev:hover {
      background: #f1b44c; }
    @media only screen and (max-width: 767px) {
      .site-case .btn-prev {
        display: none !important; } }
  .site-case .btn-next {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    font-size: 4.8rem;
    cursor: pointer;
    border: 1px solid #1e3853;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease; }
    .site-case .btn-next i {
      margin-left: 4px; }
    .site-case .btn-next:hover {
      background: #f1b44c; }
    @media only screen and (max-width: 767px) {
      .site-case .btn-next {
        display: none !important; } }
  .site-case .case-slide {
    z-index: 1;
    padding: 0 4rem; }
    @media only screen and (max-width: 767px) {
      .site-case .case-slide {
        padding: 0 2rem; } }
    .site-case .case-slide .case-item {
      margin: 0 1rem; }
  .site-case .line {
    background: #f1b44c; }

.main-feature__wrapper .feature-item {
  background: #fff;
  padding: 2rem 3rem 2rem;
  border-radius: 1.5rem;
  border: 1px solid #1e3853;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem; }
  .main-feature__wrapper .feature-item p {
    line-height: 2.4rem; }
  .main-feature__wrapper .feature-item .see-more a {
    text-decoration: none;
    font-weight: bold;
    color: #34c38f; }

.site-content .content-main__wrapper .main-item .fm-heading-2 {
  font-size: 24px;
  font-weight: 600; }
  @media only screen and (max-width: 767px) {
    .site-content .content-main__wrapper .main-item .fm-heading-2 {
      text-align: center; } }

.site-content .content-main__wrapper .main-item .item-sub {
  line-height: 1.2; }
  @media only screen and (max-width: 1023px) {
    .site-content .content-main__wrapper .main-item .item-sub {
      font-size: 20px; } }
  @media only screen and (max-width: 767px) {
    .site-content .content-main__wrapper .main-item .item-sub {
      font-size: 20px;
      text-align: center; } }

.site-content .content-main__wrapper .main-item .accordion .accordion-item {
  border: none;
  background: transparent; }
  .site-content .content-main__wrapper .main-item .accordion .accordion-item .accordion-body {
    text-align: justify; }
  .site-content .content-main__wrapper .main-item .accordion .accordion-item button {
    font-size: 1.7rem;
    color: #f1b44c;
    background: transparent; }
    .site-content .content-main__wrapper .main-item .accordion .accordion-item button::after {
      display: none; }
    .site-content .content-main__wrapper .main-item .accordion .accordion-item button:not(.collapsed) {
      background: transparent;
      color: #1e3853;
      box-shadow: none; }
      .site-content .content-main__wrapper .main-item .accordion .accordion-item button:not(.collapsed) svg {
        fill: #1e3853; }
    .site-content .content-main__wrapper .main-item .accordion .accordion-item button:focus {
      border: none;
      box-shadow: none; }
    .site-content .content-main__wrapper .main-item .accordion .accordion-item button svg {
      max-height: 16px;
      max-width: 14px;
      margin-right: 8px;
      fill: #f1b44c;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }

.modal-dialog {
  max-width: 100rem; }
  .modal-dialog .modal-header {
    border-bottom: none; }
    .modal-dialog .modal-header .btn-close {
      padding: 5px;
      height: 1.4rem;
      width: 1.4rem;
      background-size: 80%;
      color: #1e3853;
      margin-right: 10px;
      margin-top: 10px;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
      .modal-dialog .modal-header .btn-close:hover {
        box-shadow: 3px 3px #333333;
        color: #fff; }
  .modal-dialog .modal-body {
    padding-bottom: 4rem; }
    .modal-dialog .modal-body__content {
      padding: 0 2.4rem; }
      .modal-dialog .modal-body__content .fm-heading-3 {
        font-size: 24px; }
      .modal-dialog .modal-body__content .form-control {
        height: 3.6rem;
        font-size: 1.4rem; }
      .modal-dialog .modal-body__content .input-group .input-group-text {
        font-size: 14px;
        padding: 6px 16px;
        background: transparent; }
      .modal-dialog .modal-body__content .input-group img {
        max-width: 28px;
        margin-right: 10px; }
      .modal-dialog .modal-body__content .form-check-input {
        height: 1.8rem;
        width: 2.4rem;
        margin-right: 10px;
        margin-top: 2px; }
        @media only screen and (max-width: 767px) {
          .modal-dialog .modal-body__content .form-check-input {
            width: 3.6rem; } }
      .modal-dialog .modal-body__content button[type=submit] {
        width: 90%;
        background: #1e3853;
        padding: 10px 0;
        color: #fff;
        font-size: 16px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease; }
        .modal-dialog .modal-body__content button[type=submit]:hover {
          background: #f1b44c; }

.heading-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  @media only screen and (max-width: 1023px) {
    .heading-main {
      padding: 0; } }
  .heading-main .heading-wrapper {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 1023px) {
      .heading-main .heading-wrapper .navbar {
        width: 100%; } }
    .heading-main .heading-wrapper .navbar-brand {
      display: flex;
      align-items: center; }
      .heading-main .heading-wrapper .navbar-brand figure {
        margin-bottom: 0; }
      .heading-main .heading-wrapper .navbar-brand figure:nth-child(1) {
        margin-right: 10px; }
        .heading-main .heading-wrapper .navbar-brand figure:nth-child(1) img {
          max-height: 6rem; }
          @media only screen and (max-width: 1366px) {
            .heading-main .heading-wrapper .navbar-brand figure:nth-child(1) img {
              max-height: 5rem; } }
      .heading-main .heading-wrapper .navbar-brand figure:nth-child(2) img {
        max-height: 4rem; }
        @media only screen and (max-width: 1366px) {
          .heading-main .heading-wrapper .navbar-brand figure:nth-child(2) img {
            max-height: 3rem; } }
    .heading-main .heading-wrapper .navbar-toggler {
      border: none; }
      .heading-main .heading-wrapper .navbar-toggler:focus {
        outline: none;
        box-shadow: none; }
    .heading-main .heading-wrapper .nav-menu {
      margin-left: 4rem; }
      .heading-main .heading-wrapper .nav-menu ul.acitve {
        max-height: 1000px;
        background: #fff; }
      .heading-main .heading-wrapper .nav-menu ul {
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 1023px) {
          .heading-main .heading-wrapper .nav-menu ul {
            align-items: flex-start; } }
        .heading-main .heading-wrapper .nav-menu ul li {
          position: relative;
          padding: 1rem 2rem; }
          .heading-main .heading-wrapper .nav-menu ul li > .a-transform:not(:only-child):after {
            transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg); }
          .heading-main .heading-wrapper .nav-menu ul li > a {
            color: #fff;
            position: relative; }
            .heading-main .heading-wrapper .nav-menu ul li > a::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 2px;
              background: #fff;
              transform: translate(-50%, calc(-100% + 8px));
              -webkit-transform: translate(-50%, calc(-100% + 8px));
              -moz-transform: translate(-50%, calc(-100% + 8px));
              -ms-transform: translate(-50%, calc(-100% + 8px));
              -o-transform: translate(-50%, calc(-100% + 8px));
              transition: all 0.4s ease;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease; }
            .heading-main .heading-wrapper .nav-menu ul li > a:not(:only-child):after {
              font-family: "FontAwesome";
              content: "\f078";
              font-weight: 900;
              margin-left: 5px;
              font-size: 1rem;
              display: inline-block;
              vertical-align: middle;
              margin-top: -3px;
              transition: all 0.4s ease;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease; }
          .heading-main .heading-wrapper .nav-menu ul li > ul {
            box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.4);
            transition: all 0.4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            min-width: 50vw;
            padding: 5px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 1px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            -ms-border-radius: 1px;
            -o-border-radius: 1px;
            transform: translateY(120%);
            -webkit-transform: translateY(120%);
            -moz-transform: translateY(120%);
            -ms-transform: translateY(120%);
            -o-transform: translateY(120%);
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out; }
            @media only screen and (max-width: 1023px) {
              .heading-main .heading-wrapper .nav-menu ul li > ul {
                position: static;
                max-height: 0;
                visibility: visible;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                min-width: auto; } }
            .heading-main .heading-wrapper .nav-menu ul li > ul li {
              border-radius: 1px;
              padding: 5px 0;
              -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -ms-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -webkit-border-radius: 1px;
              -moz-border-radius: 1px;
              -ms-border-radius: 1px;
              -o-border-radius: 1px; }
              .heading-main .heading-wrapper .nav-menu ul li > ul li a {
                display: flex;
                align-items: center;
                color: #171717;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out; }
                .heading-main .heading-wrapper .nav-menu ul li > ul li a figure {
                  margin-right: 2rem;
                  margin-bottom: 0; }
                .heading-main .heading-wrapper .nav-menu ul li > ul li a .content-menuhidden p {
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin: 0; }
              .heading-main .heading-wrapper .nav-menu ul li > ul li:hover {
                background: #1e3853; }
                .heading-main .heading-wrapper .nav-menu ul li > ul li:hover a {
                  color: #fff; }
          .heading-main .heading-wrapper .nav-menu ul li:hover > a::before {
            width: 100%; }
          @media only screen and (min-width: 1440px) {
            .heading-main .heading-wrapper .nav-menu ul li:hover > a:not(:only-child):after {
              transform: rotate(-180deg);
              -webkit-transform: rotate(-180deg);
              -moz-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              -o-transform: rotate(-180deg); } }
    @media only screen and (max-width: 1023px) {
      .heading-main .heading-wrapper #menu {
        padding-top: 60px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px;
        background: #333333;
        height: 100vh;
        width: 50vw;
        right: -100%;
        overflow: hidden;
        position: fixed;
        visibility: hidden;
        top: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out; }
        .heading-main .heading-wrapper #menu.open {
          margin-left: 0;
          right: -1%;
          visibility: visible; } }
    @media only screen and (max-width: 767px) {
      .heading-main .heading-wrapper #menu {
        width: 75vw;
        padding-top: 60px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 20px; } }
    .heading-main .heading-wrapper .toggle-menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      align-items: center;
      display: inline-flex;
      height: #333333;
      outline: none;
      padding: 0;
      pointer-events: initial;
      position: relative;
      vertical-align: middle;
      width: 5px;
      z-index: 1; }
      .heading-main .heading-wrapper .toggle-menu span {
        background-color: #fff;
        content: "";
        display: block;
        height: 2px;
        left: calc(50% - 13px);
        position: absolute;
        top: calc(50% - 1px);
        transform-origin: 50% 50%;
        transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
        width: 25px; }
        .heading-main .heading-wrapper .toggle-menu span:before, .heading-main .heading-wrapper .toggle-menu span:after {
          background-color: #fff;
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          transform-origin: 50% 50%;
          transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
          width: 25px; }
        .heading-main .heading-wrapper .toggle-menu span:before {
          top: 7px; }
        .heading-main .heading-wrapper .toggle-menu span:after {
          top: -7px; }
      .heading-main .heading-wrapper .toggle-menu.active span {
        background-color: transparent;
        transition: background 0.2s ease-out; }
        .heading-main .heading-wrapper .toggle-menu.active span:before, .heading-main .heading-wrapper .toggle-menu.active span:after {
          background: #fff;
          transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out; }
        .heading-main .heading-wrapper .toggle-menu.active span:before {
          top: 0;
          transform: rotate3d(0, 0, 1, -45deg); }
        .heading-main .heading-wrapper .toggle-menu.active span:after {
          top: 0;
          transform: rotate3d(0, 0, 1, 45deg); }
  .heading-main .nav-cover {
    display: flex; }
    .heading-main .nav-cover .nav-language {
      margin-left: 1.4rem;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 1023px) {
        .heading-main .nav-cover .nav-language {
          margin-left: 2rem; } }
      @media only screen and (max-width: 767px) {
        .heading-main .nav-cover .nav-language {
          margin-left: 2rem; } }
      .heading-main .nav-cover .nav-language img {
        width: 1.8rem; }
      .heading-main .nav-cover .nav-language ul > li {
        position: relative; }
        .heading-main .nav-cover .nav-language ul > li:hover .language-hidden {
          opacity: 1;
          visibility: visible;
          transform: translateY(100%);
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%); }
      .heading-main .nav-cover .nav-language ul li a {
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        padding: 6px 18px;
        font-size: 1.2rem;
        min-height: 3.6rem;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px; }
        .heading-main .nav-cover .nav-language ul li a img {
          margin-right: 4px; }
        @media only screen and (max-width: 767px) {
          .heading-main .nav-cover .nav-language ul li a {
            min-height: 3rem; } }
      .heading-main .nav-cover .nav-language ul .language-hidden {
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(150%);
        -webkit-transform: translateY(150%);
        -moz-transform: translateY(150%);
        -ms-transform: translateY(150%);
        -o-transform: translateY(150%);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }
        .heading-main .nav-cover .nav-language ul .language-hidden a {
          background: #1e3853; }
    .heading-main .nav-cover .btn-customer a {
      background: #fff;
      color: #1e3853; }

.sticky {
  position: fixed;
  background: #1e3853;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.2); }
  .sticky .navbar-brand figure:nth-child(1) img {
    max-height: 5rem !important;
    -webkit-animation: rotate-center 1.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
    animation: rotate-center 1.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease; }
    @media only screen and (max-width: 767px) {
      .sticky .navbar-brand figure:nth-child(1) img {
        max-height: 4rem !important; } }
  .sticky .navbar-brand figure:nth-child(2) img {
    max-height: 3rem !important;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease; }
    @media only screen and (max-width: 767px) {
      .sticky .navbar-brand figure:nth-child(2) img {
        max-height: 2.5rem !important; } }
  @media only screen and (max-width: 767px) {
    .sticky {
      padding: 0; } }

.test-ul {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(calc(100% + 1rem)) !important;
  -webkit-transform: translateY(calc(100% + 1rem)) !important;
  -moz-transform: translateY(calc(100% + 1rem)) !important;
  -ms-transform: translateY(calc(100% + 1rem)) !important;
  -o-transform: translateY(calc(100% + 1rem)) !important; }
  @media only screen and (max-width: 1023px) {
    .test-ul {
      max-height: 50rem !important;
      transform: translateY(0) !important;
      -webkit-transform: translateY(0) !important;
      -moz-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
      -o-transform: translateY(0) !important; } }

.footer-wrapper {
  background-color: #1e3853;
  font-family: "Raleway", sans-serif;
  color: #fff;
  border-top: 1px solid #e3e3e9; }
  .footer-wrapper a {
    color: #fff; }
  @media only screen and (max-width: 767px) {
    .footer-wrapper .footer-main__info {
      margin-bottom: 2rem; } }
  .footer-wrapper .footer-main__info .group-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer-wrapper .footer-main__info .group-logo figure:nth-child(1) img {
      max-height: 10rem; }
    @media only screen and (max-width: 767px) {
      .footer-wrapper .footer-main__info .group-logo figure:nth-child(1) img {
        max-height: 7rem; } }
    .footer-wrapper .footer-main__info .group-logo figure:nth-child(2) img {
      max-height: 4rem; }
    @media only screen and (max-width: 767px) {
      .footer-wrapper .footer-main__info .group-logo figure:nth-child(2) img {
        max-height: 3rem; } }
  .footer-wrapper .footer-main__info .info-item ul li:not(:last-child) {
    margin-bottom: 1.2rem; }
  .footer-wrapper .footer-main__info .info-social {
    margin-top: 1.2rem; }
    .footer-wrapper .footer-main__info .info-social ul {
      display: flex; }
      .footer-wrapper .footer-main__info .info-social ul li a {
        border: 1px solid #fff;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        .footer-wrapper .footer-main__info .info-social ul li a i {
          font-size: 1.9rem; }
      .footer-wrapper .footer-main__info .info-social ul li .fb {
        background: #104f94; }
      .footer-wrapper .footer-main__info .info-social ul li .ig {
        background: #c32969; }
      .footer-wrapper .footer-main__info .info-social ul li .utube {
        background: #c30000; }
      .footer-wrapper .footer-main__info .info-social ul li:not(:last-child) {
        margin-right: 10px; }
  .footer-wrapper .footer-main__map .site-map ul li:not(:last-child) {
    margin-bottom: 1.2rem; }
  .footer-wrapper .footer-main__map .site-map ul a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
    .footer-wrapper .footer-main__map .site-map ul a:hover {
      color: #f1b44c; }
  @media only screen and (max-width: 1366px) {
    .footer-wrapper .footer-main .footer-sub .gg-partner {
      margin-bottom: 2rem; }
      .footer-wrapper .footer-main .footer-sub .gg-partner span br {
        display: none; } }
  @media only screen and (max-width: 1023px) {
    .footer-wrapper .footer-main .footer-sub .gg-partner {
      margin-bottom: 2rem; }
      .footer-wrapper .footer-main .footer-sub .gg-partner span br {
        display: none; } }
  @media only screen and (max-width: 767px) {
    .footer-wrapper .footer-main .footer-sub .gg-partner {
      margin-bottom: 2rem; }
      .footer-wrapper .footer-main .footer-sub .gg-partner span br {
        display: none; } }
  .footer-wrapper .footer-main .footer-sub .qr-code figure {
    margin-bottom: 0; }
    .footer-wrapper .footer-main .footer-sub .qr-code figure img {
      max-width: 12.4rem; }
  @media only screen and (max-width: 767px) {
    .footer-wrapper .footer-main .footer-sub .qr-code span {
      display: flex;
      justify-content: center; } }
  .footer-wrapper .footer-main .footer-sub .qr-code ul {
    display: flex;
    margin-top: 1rem; }
    .footer-wrapper .footer-main .footer-sub .qr-code ul li:not(:last-child) {
      margin-right: 16px; }
    @media only screen and (max-width: 767px) {
      .footer-wrapper .footer-main .footer-sub .qr-code ul {
        display: flex;
        justify-content: center; }
        .footer-wrapper .footer-main .footer-sub .qr-code ul li:not(:last-child) {
          margin-right: 20px; } }
    .footer-wrapper .footer-main .footer-sub .qr-code ul li a img {
      max-width: 10rem; }
  .footer-wrapper .footer-copyright__inner-content {
    display: flex;
    justify-content: center; }
  @media only screen and (max-width: 767px) {
    .footer-wrapper .footer-copyright {
      text-align: center; } }
  .footer-wrapper .footer-copyright p {
    margin-bottom: 0; }
  .footer-wrapper .footer-copyright ul {
    justify-content: flex-end;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .footer-wrapper .footer-copyright ul {
        justify-content: center;
        margin-top: 1.4rem; } }
    .footer-wrapper .footer-copyright ul li:not(:last-child):after {
      content: "|";
      margin-left: 9px;
      margin-right: 10px; }
    .footer-wrapper .footer-copyright ul a {
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
      .footer-wrapper .footer-copyright ul a:hover {
        color: #f1b44c; }

@media only screen and (max-width: 767px) {
  .footer-main .accordion {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease; }
  .footer-main .active, .footer-main .accordion:hover {
    background-color: transparent; }
  .footer-main .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px; }
  .footer-main .active:after {
    content: "\2212"; }
  .footer-main .accorlist {
    padding: 0 1rem;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; } }
